<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">

    <form  action="/ingreso_registro/" method="GET">
        <div class="form-group">
          <label for="exampleInputEmail1">rut</label>
          <input type="text" name="txt_rut"  class="form-control" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">nombre</label>
          <input type="text"  name="txt_nombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Apellido paterno</label>
            <input type="text"  name="txt_appaterno" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Apellido materno</label>
            <input type="text"  name="txt_apmaterno" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">edad</label>
            <input type="text"  name="txt_edad" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">noombre vacuna</label>
            <input type="text"  name="txt_vacuna" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">fecha</label>
            <input type="text"  name="txt_fecha" class="form-control mb-3" placeholder="xx/xx/xxxx">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> 
</body>
</html>